:root {
    --tab-background: #FFAA4C;
    --main-background: #181818;

    --main-text-color: #FFFFFF;
    --second-text-color: #000000;

    --container-main-padding: 0 80px;
    --container-medium-padding: 0 40px;
    --container-small-padding: 0 20px;

    --btn-primary-background: #A64CED;
    --btn-disabled-background: #B9B9B9;

    --primary-border-radius: 16px;

    --primary-border-color: #CFCFCF;
    --primary-card-background: #F5F5F5;
}

